<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><i style="font-size: 30px;" class="fa-brands fa-accusoft"></i></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

 
      <div class="collapse navbar-collapse" id="navbarSupportedContent" >
        <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
          <li class="nav-item" >
          <h5 style="text-align:center;" class=" ps-5 ms-5  text-center " ><b> Executive DashBoard</b></h5>
            
          </li>
          
          
        </ul>
        
        <form class="d-flex">
        <a class="navbar-brand" href="">
          <i  style="font-size: 30px;" class="fa-solid fa-gear"></i>
        </a>
          <a class="navbar-brand" href=""> 
            <i style="font-size: 30px;" class="fa-solid fa-user"></i>
          </a>
      </form>
      </div>
    </div>
  </nav>
